body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    /*background-color: {{ color_hex_code  }};*/
}

.banner {
    margin-top: 2rem;
    color: black;
    margin-bottom: 1rem;
}

footer {
    margin-top: 5rem;
    text-align: center;
}